<!DOCTYPE html>
<html lang="en">
<head>

    <title>The Health Club Project</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Health club/gym to help you get in shape, loose weight or build muscles">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}">
    
    
</head>
<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="z-index: 9999;">
        <div class="container px-4 px-lg-5 navbar-collapse">
            <a class="navbar-brand w-100" href="{{ url_for('home') }}">The Health Club Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto py-4 py-lg-0 ml-lg-0" id="menu">
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('personaltrainer') }}">Personal Trainer</a></li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('member') }}">Members</a></li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header-->
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>The Health Club Project</h1>
                        <span class="subheading">The Health Club that want's you to be the best that you can be!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">

    {% block content %}
    {% endblock %}

    </div>

    <!-- Footer-->
    <footer class="footer mt-auto py-3 dark-bg" style="background-color: rgb(124, 130, 133);">
        <p class="m-0 text-center text-white">
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook-square ms-3"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram-square ms-3"></i>
            </a>
        </p>
        <p class="m-0 text-center text-white fst-italic">
            Copyright &copy; The Health Club Project. <br>
            Website only intended for educational purposes,
            Code Institute Project #4</p>
        </p>
    </footer>

    <!-- Bootstrap core JavaScript -->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	
	<!-- Custom scripts for this template -->
	<script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>

</body>
</html>